<%- include('../partials/header') %>
    <div class="login-box mt-5 pt-5">
      <% if(error){ %>
        <div class="container w-100 border border-dark mb-3" id="error">
          <div class="text-center">
            <h3><%=error%></h3>
          </div>
        <div class="text-center">
          <button class="btn btn-primary mb-2" onclick="errorBtn('<%=user %>')">Ok</button>
        </div>
      </div>
        <%}%>
        <h2>Login with OTP</h2>
        <p id="demo" class="text-dark fs-5 p-3"></p>
        <form id="signUpForm" method="post" action='../<%=user%>/otpVerification'>
          <div class="user-box">
            <input type="text" name="otp" required="true">
            <label >OTP</label>
          </div>
          
          
          <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </button>
        </form>
      </div>
      <script>
        function errorBtn(user){
          const div = document.getElementById('error');
          div.style.display = 'none';
          window.location.href = `/${user}/otp`;
        }
        
           // Get the current date and time
              var currentDate = new Date();

              // Add 1 minute to the current date and time
              currentDate.setMinutes(currentDate.getMinutes() + 1);

              // Set the countDownDate to the updated current date and time
              var countDownDate = currentDate.getTime();

            // Update the count down every 1 second
            var x = setInterval(function() {

              // Get today's date and time
              var now = new Date().getTime();

              // Find the distance between now and the count down date
              var distance = countDownDate - now;

              // Time calculations for days, hours, minutes and seconds
              
              
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);

              // Display the result in the element with id="demo"
              document.getElementById("demo").innerHTML =  minutes + "m " + seconds + "s ";

              // If the count down is finished, write some text
              if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "<a class='btn btn-shadow' href='../users/resend'>Resend OTP </a>";
              }
            }, 1000);

      </script>
</body>
</html>